@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://www.bilibili.com/video/BV14B4y1p71q */
/* .color-ink {
  color: #b84840;
}

.bg-paper {
  background-color: #d0b078;
}

.color-green {
  color: #7e7f43;
} */